.choice-border {
	border: 1px solid $secondary !important;
}

// **************************
// Answer Validation Styling
// **************************
.wrong {
	background-color: $danger !important;
	color: #fff !important;
	border-color: $danger !important;

	input[type='radio']:checked:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -3px;
		left: -1px;
		position: relative;
		background-color: #000;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid #fff;
	}

	input[type='radio']:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -3px;
		left: -1px;
		position: relative;
		background-color: #000;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid #fff;
	}
}

.correct {
	background-color: $primary !important;
	color: #fff !important;
	border-color: $primary !important;

	input[type='radio']:checked:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -3px;
		left: -1px;
		position: relative;
		background-color: #000;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid #fff;
	}

	input[type='radio']:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -3px;
		left: -1px;
		position: relative;
		background-color: #000;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid #fff;
	}
}

// ******************************
// BS Progress Bar Customization
// ******************************
$progress-border-radius: 0;
$progress-height: 0.3rem;

// ********************
// BS Input Radio Cust
// ********************
input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -3px;
	left: -1px;
	position: relative;
	background-color: #f1f1f1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -3px;
	left: -1px;
	position: relative;
	background-color: #c2c2c2;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}

// ***********************
// Bootstrap Icon Styling
// ***********************
.bi.check {
	color: #fff;
}

.bi.x {
	color: #fff;
}
