h1 {
	font-size: 1.6rem !important;
}

h2 {
	font-size: 1.4rem !important;
}

h3 {
	font-size: 1.2rem !important;
}

html {
	font-family: 'Poppins', sans-serif !important;
}

body {
	font-family: 'Poppins', sans-serif !important;
}
